.settings
bin
project
target/global-logging
target/streams
target/task-temp-directory
target/.history3
target/scala-2.12/update
target/scala-2.12/api/menu_commands
target/scala-2.12/api/lib
target/scala-2.12/api/index.js
.cache*
.classpath
project
.bsp
.project